Code/Gestionale.o
Code/Giocatore.o
Code/gmon.out
Code/main.o
Code/Makefile.win
Code/Partita.o
Code/Persona.o
Code/PrAva_RugbyTrento.exe
Code/PrAva_RugbyTrento.layout
Code/Squadra.o
Code/Staff.o
Code/Stagione.o
Code/Statistiche.o
